%p
  = link_to 'download processed file', processed_video.processed_video.url, :target => '_blank'
%p
  = "processed in #{distance_of_time_in_words(processed_video.processing_finished_at, processed_video.processing_started_at)}"
