h1
  padding: 8px

h2
  margin-bottom: 4px

.list li
  width: 150px
  padding: 4px
  margin-top: 6px
  border-radius: 4px
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4)

#workers, #videos
  margin: 8px
