!!! 5
%html{:lang => 'en'}
  %head
    %title Optical Flow
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag
  %body
    %h1 Optical Flow
    = yield
